body{
    background-color: cornsilk;
    margin: 5%;
    padding: 5px;
  
}

div:nth-child(1){
    background-color: cornsilk;
    position: fixed;
    top: 0px;
    height: 40px;
    width: 1720px;
    display: block;
    font-family: 'Courier New';
    font-size: 40px;
}

span{
    font-size: 12px;
}

input{
    border-radius: 10px;
    float: right;
    margin: 10px;
    
}


li{
    background-color: white;
    padding: 10px;
    list-style: none;
    border-bottom:1px solid gray;
    
}


li:hover{
    background-color: rgb(189, 184, 184);
 
}

img{
height: 30px;
width: 30px;
float: left;
border-radius: 100%;
margin-right:10px;
border:2px solid;

}

#cnt{
    background-color: white;
}